<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Sort-a-List" data-toc-modified-id="Sort-a-List-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Sort a List</a></span><ul class="toc-item"><li><span><a href="#Alphabetically" data-toc-modified-id="Alphabetically-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Alphabetically</a></span></li><li><span><a href="#Reverse-Alphabetically" data-toc-modified-id="Reverse-Alphabetically-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Reverse Alphabetically</a></span></li><li><span><a href="#acording-to-the-length-of-elements" data-toc-modified-id="acording-to-the-length-of-elements-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>acording to the length of elements</a></span></li></ul></li><li><span><a href="#Arithmetic-average" data-toc-modified-id="Arithmetic-average-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Arithmetic average</a></span><ul class="toc-item"><li><span><a href="#Test-speed" data-toc-modified-id="Test-speed-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Test speed</a></span></li></ul></li><li><span><a href="#Sum-of-Lists" data-toc-modified-id="Sum-of-Lists-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Sum of Lists</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Sum-of-Two-Lists" data-toc-modified-id="Sum-of-Two-Lists-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Sum of Two Lists</a></span></li><li><span><a href="#Sum-of-Two-or-More-Lists" data-toc-modified-id="Sum-of-Two-or-More-Lists-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Sum of Two or More Lists</a></span></li></ul></li><li><span><a href="#Flatten-List-of-Lists" data-toc-modified-id="Flatten-List-of-Lists-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Flatten List of Lists</a></span><ul class="toc-item"><li><span><a href="#Flatten" data-toc-modified-id="Flatten-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Flatten</a></span></li><li><span><a href="#Flatten-mixed-list" data-toc-modified-id="Flatten-mixed-list-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Flatten mixed list</a></span></li></ul></li><li><span><a href="#Iterate-a-list-as-pair" data-toc-modified-id="Iterate-a-list-as-pair-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Iterate a list as pair</a></span></li><li><span><a href="#Count-all-elements" data-toc-modified-id="Count-all-elements-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Count all elements</a></span></li></ul></div>

## Sort a List

### Alphabetically

In [34]:
lst = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']

In [35]:
sorted(lst)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [36]:
lst.sort()
lst

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

### Reverse Alphabetically

In [37]:
sorted(lst, reverse=True)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [38]:
lst.sort(reverse=True)
lst

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [39]:
list(reversed(sorted(lst)))

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

### acording to the length of elements

In [40]:
lst = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']

In [21]:
sorted(lst, key=len)

['Mary', 'John', 'James', 'Robert', 'Patricia', 'Jennifer']

In [16]:
lst.sort(key=len)
lst

['Mary', 'John', 'James', 'Robert', 'Patricia', 'Jennifer']

In [22]:
list(reversed(sorted(lst, key=len)))

['Jennifer', 'Patricia', 'Robert', 'James', 'John', 'Mary']

In [23]:
sorted(lst, key=len, reverse=True)

['Patricia', 'Jennifer', 'Robert', 'James', 'Mary', 'John']

In [24]:
lst.sort(key=len, reverse=True)
lst

['Patricia', 'Jennifer', 'Robert', 'James', 'Mary', 'John']

## Arithmetic average
[Finding the average of a list](https://stackoverflow.com/questions/9039961/finding-the-average-of-a-list)

In [1]:
data = [1, 2, 3, 4]

In [2]:
def cal_total(d):
    total = 0
    for x in d:
        total = total + x
    return total

ave = cal_total(data) / len(data)
print(ave)

2.5

In [3]:
ave = sum(data) / len(data)
print(ave)

2.5

total = 0
[total := total + x for x in data]  # in Python 3.8
print(total / len(data))

In [4]:
import statistics
ave = statistics.mean(data)
print(ave)

2.5

In [5]:
import numpy as np
ave = np.mean(data)
print(ave)

2.5

In [6]:
import numpy as np
ave = np.average(data)
print(ave)

2.5

In [7]:
import numpy as np
ave = np.array(data).mean()
print(ave)

2.5

In [8]:
import pandas as pd
ave = pd.Series(data).mean()
print(ave)

2.5

In [9]:
from scipy import stats
result = stats.describe(data)
print(result)

DescribeResult(nobs=4, minmax=(1, 4), mean=2.5, variance=1.6666666666666667, skewness=0.0, kurtosis=-1.36)

In [10]:
result[2]

2.5

In [11]:
from functools import reduce
ave = reduce(lambda x, y: x + y, data) / len(data)
print(ave)

2.5

In [12]:
from functools import reduce
import operator
ave = reduce(operator.add, data) / len(data)
print(ave)

2.5

In [13]:
import operator, itertools
ave = list(itertools.accumulate(data, operator.add)).pop(-1) / len(data)
print(ave)

2.5

In [14]:
from operator import truediv
def sum_and_count(x, y):
    try:
        return (x[0] + y, x[1] + 1)
    except TypeError:
        return (x + y, 2)
ave = truediv(*reduce(sum_and_count, data))
print(ave)

2.5

### Test speed

In [15]:
import timeit

NUMBERS_OF_TIMES_TO_TEST = 10000

data = list(range(100))

def mean0():
    return cal_total(data) / len(data)

def mean1():
    return sum(data) / len(data)

def mean2():
    return statistics.mean(data)

def mean3():
    return np.mean(data)

def mean4():
    return np.average(data)

def mean5():
    return np.array(data).mean()

a = np.array(data)
def mean5a():
    return a.mean()

def mean6():
    return pd.Series(data).mean()

s = pd.Series(data)
def mean6a():
    return s.mean()

def mean7():
    return stats.describe(data)[2]

def mean8():
    return reduce(lambda x, y: x + y, data) / len(data)

def mean9():
    return reduce(operator.add, data) / len(data)

def mean10():
    return list(itertools.accumulate(data, operator.add)).pop(-1) / len(data)

def mean11():
    return truediv(*reduce(sum_and_count, data))

for func in [mean0, mean1, mean2, mean3, mean4, mean5, mean5a, mean6, mean6a, mean7, mean8, mean9, mean10, mean11]:
    print(f"{func.__name__} took: ",  timeit.timeit(stmt=func, number=NUMBERS_OF_TIMES_TO_TEST))

mean0 took:  0.04780859999999976
mean1 took:  0.012825599999999326
mean2 took:  0.6706278000000001
mean3 took:  0.1475173999999999
mean4 took:  0.1462942000000016
mean5 took:  0.12864569999999986
mean5a took:  0.06669190000000036
mean6 took:  1.5488654999999998
mean6a took:  0.2911704999999998
mean7 took:  4.663896900000001
mean8 took:  0.10356760000000165
mean9 took:  0.05522280000000279
mean10 took:  0.06420409999999777
mean11 took:  0.19287320000000108

## Sum of Lists

### Lists

In [17]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = [11,12,13,14,15]

In [18]:
list_of_lists = [a, b, c]

### Sum of Two Lists

In [19]:
[a[i] + b[i] for i in range(min(len(a), len(b)))]

[7, 9, 11, 13, 15]

In [20]:
[sum(i) for i in zip(a, b)]

[7, 9, 11, 13, 15]

In [21]:
[x + y for x, y in zip(a, b)]

[7, 9, 11, 13, 15]

In [22]:
import operator
list(map(operator.add, a, b))

[7, 9, 11, 13, 15]

In [23]:
import numpy as np
np.add(a, b).tolist()    # only for equal lengths

[7, 9, 11, 13, 15]

### Sum of Two or More Lists

In [20]:
lst = []
for i in range(len(a)):
    lst.append(a[i] + b[i] + c[i])
lst

[18, 21, 24, 27, 30]

In [21]:
[a[i] + b[i] + c[i] for i in range(len(a))]

[18, 21, 24, 27, 30]

In [22]:
list(map(lambda x, y, z: x + y + z, a, b, c))

[18, 21, 24, 27, 30]

In [23]:
list(map(lambda x: x[0] + x[1] + x[2], zip(a, b, c)))

[18, 21, 24, 27, 30]

In [24]:
list(map(sum, zip(a, b, c)))

[18, 21, 24, 27, 30]

In [25]:
[x + y + z for x, y, z in zip(a, b, c)]

[18, 21, 24, 27, 30]

In [26]:
[sum(x) for x in zip(a, b, c)]

[18, 21, 24, 27, 30]

In [27]:
t = []
for x, y, z in zip(a, b, c):
    global t
    t.append(x + y + z)
print(t)

SyntaxError: name 't' is assigned to before global declaration (cell_name, line 6)

In [28]:
x = []

def function(x):
    global x
    list.append(x)

function(1)
function(2)
print(list)

SyntaxError: name 'x' is parameter and global (cell_name, line 7)

In [29]:
[sum(x) for x in zip(*[a, b, c])]

[18, 21, 24, 27, 30]

In [30]:
import numpy as np
np.sum([a, b, c], axis = 0).tolist()

[18, 21, 24, 27, 30]

In [31]:
import numpy as np
(np.array(a) + np.array(b) + np.array(c)).tolist()

[18, 21, 24, 27, 30]

In [32]:
import itertools
[sum(sublist) for sublist in itertools.chain(zip(*[a, b, c]))]

[18, 21, 24, 27, 30]

## Flatten List of Lists

### Flatten

In [33]:
lst = []
for x in list_of_lists:
    lst.extend(x)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [34]:
sum(list_of_lists, [])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [35]:
[element for array in list_of_lists for element in array]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [36]:
import numpy as np
np.array(list_of_lists).flatten().tolist()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [37]:
import numpy as np
list(np.array(list_of_lists).flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [38]:
import numpy as np
list(np.concatenate(list_of_lists))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [39]:
import pandas as pd
list(pd.core.common.flatten(list_of_lists))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [40]:
import matplotlib as plt
list(plt.cbook.flatten(list_of_lists))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [41]:
import nltk
nltk.flatten(list_of_lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [42]:
import itertools
list(itertools.chain(*list_of_lists))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [43]:
import itertools
list(itertools.chain.from_iterable(list_of_lists))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [44]:
import more_itertools
list(more_itertools.flatten(list_of_lists))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [45]:
import more_itertools
list(more_itertools.collapse(list_of_lists))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [46]:
import functools
functools.reduce(lambda x, y: x + y, list_of_lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [47]:
import functools
import operator
functools.reduce(operator.add, list_of_lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [48]:
import functools
import operator
functools.reduce(operator.concat, list_of_lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [49]:
import functools
import operator
functools.reduce(operator.iconcat, list_of_lists, [])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Flatten mixed list

In [50]:
mixed_list = [1, 2, [3, 4, [5]],[[6, 7], [8, 9]], [10, 11, 12], [13, 14, 15]]

In [51]:
import pandas as pd
list(pd.core.common.flatten(mixed_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [52]:
import matplotlib as plt
list(plt.cbook.flatten(mixed_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [53]:
import nltk
nltk.flatten(mixed_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [54]:
import more_itertools
list(more_itertools.collapse(mixed_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

## Iterate a list as pair

In [55]:
[[a[i], a[i+1]] for i in range(len(a)-1)]

[[1, 2], [2, 3], [3, 4], [4, 5]]

## Count all elements
https://stackoverflow.com/questions/2600191/how-can-i-count-the-occurrences-of-a-list-item

In [1]:
a = [1, 2, 3, 4, 1, 4, 1]

In [3]:
a.count(2)

1

In [2]:
from collections import Counter
Counter(a)

Counter({1: 3, 2: 1, 3: 1, 4: 2})

In [4]:
import numpy
numpy.bincount(a)

array([0, 3, 1, 1, 2], dtype=int64)

In [5]:
import pandas
pandas.Series(a).value_counts()

1    3
4    2
2    1
3    1
dtype: int64